@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {

  h1, h2, h3, h4, h5, h6, p {
    white-space: pre-line;
  }

  h1,
  .h1 {
    @apply font-primary text-4xl md:text-6xl max-w-5xl mb-4;
  }

  h2,
  .h2 {
    @apply font-primary text-4xl md:text-5xl font-thin mb-10;
  }

  h3,
  .h3 {
    @apply font-primary text-xl font-bold md:text-2xl mb-4;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-semibold md:text-2xl;
  }

  a {
    @apply font-semibold font-secondary;
  }

  p {
    @apply max-w-4xl mb-8;
  }

}

html,
body {
  min-height: -webkit-fill-available;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: #2a2a2a00;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  html, body {
    font-size: 1rem !important;
  }
  .overflow-auto::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .overflow-auto, .overflow-y-auto {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

* {
  --main-color: #000;
  --primary-color: #fff;
  --shaded-color: #717071;
}

* {
  box-sizing: border-box;
}
